<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Me Ecommerce</title>
    <link rel="stylesheet" href="/home/static/css/styles.css">
</head>
<body>
    <header class="header-container">
        <div class="header-image">
            <img src="/home/static/images/fashion_me.png" alt="Fashion Me Logo" class="logo">
        </div>
        <div class="header-title">            
            <h1 class="page-heading">Fashion Me Clothing Store</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li class="active"><a href="/home/">Home</a></li>
            <li><a href="/product/">Products</a></li>
            <li><a href="/customer/">Customers</a></li>
            <li><a href="/order/">Orders</a></li>
            <li id="loginIcon" class="align-right"><img src="/home/static/images/login.png"></li>
            <li><b>You have logged in as : {{ user_email }}</b></li>
            <li id="logout" class="logout"><a href="/auth/logout">Logout!</a></li>
        </ul>
    </nav>

    <main>
        <section id="products">
            <a href="/product/"><h2><img src="/home/static/images/product_icon.png" alt="Products" class="icon"> View Products</h2></a>
            <!-- Content for the Products section goes here -->
        </section>
        <section id="customers">
            <a href="/customer/"><h2><img src="/home/static/images/customer_icon.jpg" alt="Customers" class="icon"> View Customers</h2></a>
            <!-- Content for the Customers section goes here -->
        </section>
        <section id="orders">
            <a href="/order/"><h2><img src="/home/static/images/order_icon.jpg" alt="Orders" class="icon"> View Customer Orders</h2></a>
            <!-- Content for the Orders section goes here -->
        </section>
        <section id="carts">
            <a href="#"><h2><img src="/home/static/images/cart_icon.png" alt="Carts" class="icon"> View Customer's Carts</h2></a>
            <!-- Content for the Carts section goes here -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Fashion Me. All rights reserved.</p>
    </footer>
</body>
</html>

